.paymentForm {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  width: 100%;
}

.paymentOption {
  background-color: var(--base-button);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
  position: relative;

  input {
    visibility: hidden;
    position: absolute;
  }

  &:hover {
    background-color: var(--base-hover);
  }

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &.selected {
    background-color: var(--purple-light);
    border: 1px solid var(--purple);
  }
}
