button {
  width: 38px;
  height: 38px;
  padding: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;

  &:disabled {
    cursor: not-allowed;
    background-color: var(--base-label);
  }
}

.cartButtonHeader {
  background-color: var(--yellow-light);
}

.cartButtonProductCard {
  background-color: var(--purple-dark);

  &:not(:disabled):hover {
    background-color: var(--purple);
  }
}
