.cartItem {
  width: 100%;
  display: flex;
  padding: 0.25rem 0.5rem;
  background-color: var(--base-card);
  justify-content: space-between;
}

.contentWrapper {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.coffeeImage {
  width: 64px;
  height: 64px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
